apiVersion: apiregistration.k8s.io/v1
kind: APIService
metadata:
  name: v1.{{ .Values.groupName }}
  labels:
{{ include "webhook-dnspod.labels" . | indent 4 }}
  annotations:
    certmanager.k8s.io/inject-ca-from: "{{ .Release.Namespace }}/{{ include "webhook-dnspod.servingCertificate" . }}"
spec:
  group: {{ .Values.groupName }}
  groupPriorityMinimum: 1000
  versionPriority: 15
  service:
    name: {{ include "webhook-dnspod.fullname" . }}
    namespace: {{ .Release.Namespace }}
  version: v1
